body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.outer {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 235px;
}

.inner {
    display: flex;
    gap: 15px;
}

.button {
    border: 5px solid black;
    border-radius: 15px;
    width: 100px;
    height: 100px;
}

.red {
    background-color: rgb(255, 0, 85);
}

.cyan {
    background-color: rgb(25, 171, 164);
}

.purple {
    background-color: rgb(145, 0, 148);
}

.orange {
    background-color: rgb(255, 123, 0);
}

.flash {
    background-color: #fff;
}

.user-flash-correct {
    background-color: #0f0;
}

.user-flash-incorrect {
    background-color: #f00;
}